<!doctype html>
<html>
  <head>
    <title>Hotter or Colder</title>
    <link rel="stylesheet" href="../static/css/base.css"></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="main">
        <div class="start-screen">
            <input type="text" placeholder="Username" maxlength="12" id="input-username" class="input-username">
            <div class="btn" id="btn-play">Play Now</div>
            <div class="btn" id="btn-private">Private</div>
            <div class="btn" id="gamemode">Classic</div>  
            <script src="../static/scripts/start-up.js"></script>   
        </div>
    </div>

  </body>
</html>
